html {
  font-size: 100%;
}
body {
  color: #24292e;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}



header {
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 270px;
  margin: 0 auto;
  padding: 0 4%;
    nav ul {
      display: flex;
      padding: 10px 0;
        li {
          font-size: 0.9rem;
          margin-left: 30px;
          // list-style: none;
            img.icon {
              width: 20px;
            }
        }
    }
}

#mainvisual {
  margin-bottom: 80px;
        picture img {
          width: 100%;
          max-width: 1920px;
          height: 420px;
          object-fit: cover;
        }
}

.wrapper {
  max-width: 960px;
  margin: 0 auto 130px auto;
  font-size: 0.9rem;
  padding: 0 4%;
}

.sec-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 65px;
}

#about ul {
  margin-bottom: 30px;
      li:first-child {
        margin-bottom: 30px;
      }
      p {
      text-align:justify;
      }
}