html {
  font-size: 100%;
}

body {
  color: #24292e;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

header {
  max-width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 270px;
  margin: 0 auto;
  padding: 0 4%;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
}

header nav ul li {
  font-size: 0.9rem;
  margin-left: 30px;
}

header nav ul li a {
  color: #24292e;
}

header nav ul li a:hover {
  opacity: 0.7;
}

header nav ul li img.icon {
  width: 20px;
}

#mainvisual {
  margin-bottom: 80px;
}

#mainvisual picture img {
  width: 100%;
  max-width: 1920px;
  height: 420px;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto 130px auto;
  font-size: 0.9rem;
  padding: 0 4%;
}

.sec-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 65px;
}

#about ul {
  margin-bottom: 30px;
}

#about ul li:first-child {
  margin-bottom: 30px;
}

#about ul p {
  text-align: justify;
}

#works ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

#works li {
  width: 31%;
  margin-bottom: 23px;
}

#news dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-top: solid 1px #c8c8c8;
  margin-bottom: 20px;
}

#news dl dt {
  width: 20%;
  border-bottom: solid 1px #c8c8c8;
  padding: 15px;
}

#news dl dd {
  width: 80%;
  border-bottom: solid 1px #c8c8c8;
  padding: 15px;
}

#contact dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}

#contact dl dt {
  width: 15%;
}

#contact dl dd {
  width: 85%;
  margin-bottom: 10px;
}

#contact dl dd input {
  width: 100%;
  border: solid 1px #c8c8c8;
  padding: 10px;
}

#contact dl dd textarea {
  width: 100%;
  border: solid 1px #c8c8c8;
  padding: 10px;
  height: 10rem;
}

#contact .button {
  text-align: center;
}

#contact .button input {
  width: 200px;
  background-color: #24292e;
  color: #fff;
  padding: 15px 0;
  border: solid 1px #24292e;
}

#contact .button input:hover {
  background: #fff;
  color: #24292e;
}

footer {
  background-color: #24292e;
  color: #fff;
  font-size: 0.5rem;
  padding: 10px 20px;
  text-align: center;
}

@media (max-width: 600px) {
  .wrapper {
    margin-bottom: 70px;
  }
  .sec-title {
    margin-bottom: 40px;
  }
  header {
    max-width: 100%;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav ul li {
    font-size: 0.8rem;
    margin-left: 20px;
  }
  header nav ul li:first-child {
    margin-left: 0;
  }
  #works ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #works ul li {
    width: 100%;
  }
  #news dl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #news dl dt {
    width: 100%;
    border-bottom: none;
    padding-bottom: 0;
  }
  #news dl dd {
    width: 100%;
    padding-top: 0;
  }
  #contact dl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contact dl dt {
    width: 100%;
  }
  #contact dl dd {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */